<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">                
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion team">
            {{!-- <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-social-people-outline"></i>Team</a> --}}
            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan">
                    <i class="mdi-social-people-outline"></i>Team
                </a>
                <div class="collapsible-body">
                    <ul class="left_panel_menu staff_menu_list">
                        {{> dashboard/teams}}
                    </ul>
                </div>
            </li>
        </ul>
        <a href="javascript:void(0)" type="button" class="staff_create waves-effect waves-light met_plus modal-trigger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </li>

    <li class="no-padding">
            <ul class="collapsible collapsible-accordion category">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-communication-email"></i>Type</a>
                    <div class="collapsible-body">
                        <ul class="left_panel_menu category_list">
                            {{> dashboard/category}}
                        </ul>
                    </div>
                </li>
            </ul>
            <a href="javascript:void(0)" type="button" class="category_create waves-effect waves-light met_plus modal-trigger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>


        <li class="no-padding">
            <ul class="collapsible collapsible-accordion projectsAll">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-view-carousel"></i>Projects</a>
                    <div class="collapsible-body">
                        <ul class="left_panel_menu prj_all">
                            {{> dashboard/project}}
                        </ul>
                    </div>
                </li>
            </ul>
            <a href="javascript:void(0)" type="button" class="project_create waves-effect waves-light met_plus modal-trigger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>