<div class="col s12 m12 l6 my_panel_box ">
    <div id="profile-card" class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/user-bg.jpg" alt="user background">
            <div class="a_task">aTasks</div>
        </div>

        <div class="row my_team_status" >
            <div class="col s2 m2 active_dropdown my_team_active">
                <a class="dropdown-button " href="#" data-activates="dropdown1">Active</a>

                <ul id="dropdown1" class="dropdown-content">
                    <li class="active-chart"><a href="#!">Active</a></li>
                    <li class="completed-chart"><a href="#!">Completed</a></li>
                    <li class="deferred-chart"><a href="#!">Deferred</a></li>
                    <li class="cancelled-chart"><a href="#!">Cancelled</a></li>
                </ul>
            </div>

            <div class="col s8 m8 active_dropdown my_team_all">
                <div class="my_team_all_active">
                    <a class="dropdown-button " href="#" data-activates="dropdown1">To All </a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li class="active-chart"><a href="#!">Active</a></li>
                        <li class="completed-chart"><a href="#!">Completed</a></li>
                        <li class="deferred-chart"><a href="#!">Deferred</a></li>
                        <li class="cancelled-chart"><a href="#!">Cancelled</a></li>
                    </ul>
                </div>
                <a class="dropdown-button " href="#" data-activates="dropdown1"><i class="fa fa-filter" aria-hidden="true"></i></a>
            </div>

            <div class="col s2 m2 active_dropdown my_team_by_status">
                <select>
                    <option value = "0" selected>By Status</option>
                    <option value = "1">Status</option>
                    <option value = "2">Importance</option>
                    <option value = "3">Title</option>
                    <option value = "4">Priority</option>
                    <option value = "5">Importance</option>
                    <option value = "6">Date</option>
                </select>
            </div>
        </div>

        {{!-- ONYL FOR NEW TASK --}}
        <div class="card-content">
            <ul class="collapsible row valign-wrapper" data-collapsible="accordion">
                <li class="myteam-advpTask" for="my-team-advpTask" data-id="my-team-np-Task">
                    <span class="col s1 m1 collapsible-header"><i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;</span>
                    <div class="col s11 m11">
                        <div class="lighten-5 ">
                            <div class="row valign-wrapper">
                                <div class="col s9">
                                      <span class="black-text myteam-new-at-task">Add New Task</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        {{!-- Tasks Lists With UL --}}
        <div class="card-content">
            <ul class="collapsible row valign-wrapper taskList" data-collapsible="accordion">
                {{!-- SHOW ALL TASKS WHEN RENDER THE PAGE OR COMES THROUGH AJAX --}}
                {{> dashboard/tasks}}
            </ul>
        </div>

    </div>
</div>