<div class="asgn_prj_lst">
    <!-- class="search" automagically makes an input a search field. -->
    <div class="my-team-dropdown-main">
        <input class="search myteam-seacrh-project-box" placeholder="Search" />
    </div>
        <!-- Child elements of container with class="list" becomes list items -->
    <div class="myteam-contacts-userpicker myteam-contacts-userpicker-usr-lst assignees-picker wrike-pickerfield">
        <div >
            <ul class="list">
                {{#each nonAssignProjects}}
                    <li class="assgn-proj-select" data-ut-id="{{this._id}}">
                        <div class="user-item has-groups">
                            <div class="user-item-wrap">
                                <div class="user-item-overflow">
                                    <div class="user-item-userpic"><img src="images/img.jpg" alt="picture" /></div>
                                    <div class="user-item-info">
                                        <div class="info-pname">{{this.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}    
            </ul>
        </div>
    </div>
</div>
    
<script>

    var options = {
        valueNames: [ 'info-pname', 'info-pemail' ]
    };

    var projectList = new List('project_lists', options);
</script>