<div class="col s12 m12 l6 my_panel_box my_panel_box_one">
                                <div id="profile-card" class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/user-bg.jpg" alt="user background">
                                        <div class="a_task">aUpcoming</div>
                                        <div class="add_project_task"><a href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add to folder/project</a></div>
                                        <div class="add_attach_task">
                                        	<ul>
                                            	<li><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach files</a></li>
                                                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> Shared with 1 group and 1 person</a></li>
                                        	</ul>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    
                                    
                                    
                                    
                                    
                                    
                                    <div class="row">
										<div class="col s2 m2">
                                            <p>
                                            <form action="">
                                               <div class="my_team_active_task"><input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /></div>
                                                <div class="my_team_active_task_select">
                                              	<select>
                                                  <option value = "0" selected>Active</option>
                                                  <option value = "1">Complete</option>
                                                  <option value = "5">Cancelled</option>
                                               </select> 
                                            	</div>
                                              </form>
                                            </p>
                                        	
                                        </div>
                                        <div class="col s9 m9">
                                        	<div class="my_team_add_team">
                                            <img src="/images/yuna.jpg" alt="" class="circle responsive-img">
                                            <span>Ashutosh Kumar</span>
                                            </div>
                                            
                                            <div class="my_team_plus"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                                        
                                        
                                        </div>
                                        
                                        
									</div>
                                    
                                    
                                    
                                    
                                    <div class="row my_team_date" >
                                    	<div class="col s4 m4">
                                            <div class="row">
                                            	<div class="col s5 m5 start_date">Start Date</div>
                                                <div class="col s7 m7 start_date_box" >
                                                 <a href="#">
                                                    <input class="datepicker" type="text" name="Search"  placeholder="mm/yy/dd"/>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                 </a>
                                                 </div>
                                            </div> 
                                        
                                        </div> 
                                        
                                        <div class="col s4 m4">
                                            <div class="row">
                                            	<div class="col s5 m5 finish_date">Finish Date</div>
                                                <div class="col s7 m7 start_date_box" >
                                                 <a href="#">
                                                    <input class="datepicker" type="text" name="Search"  placeholder="mm/yy/dd"/>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                 </a>
                                                 </div>
                                            </div> 
                                        
                                        </div> 
                                        
                                        <div class="col s3 m3 active_dropdown">
                                         <div class="row">
                                            	<div class="col s6 m6 start_date">Status</div>
                                                <div class="col s6 m6 start_date_box" >
                                               <select>
                                                  <option value = "0" selected>Green</option>
                                                  <option value = "1">Red</option>
                                                  <option value = "2">Yellow</option>
                                                  <option value = "3">Completed</option>
                                                  <option value = "4">On hold</option>
                                                  <option value = "5">Cancelled</option>
                                               </select> 
                                               </div>  
                                        </div> 
                                    </div>
                                    <div class="col s1 m1"></div>
                                    
                                    
                                    
                                    </div>
									<!-- Text Editor Start Here -->
									<div class="row">
										<div class="nopadding">
											<textarea id="txtEditor"></textarea> 
										</div>
									</div>
									<!-- Text Editor End Here -->
                                    
                                    <!-- Text Editor Start Here -->
                                    <div class="row">
                                            <div class="col s12 m12 my_team_list">
                                            <div class="card-panel grey lighten-5 z-depth-1">
                                              <div class="row valign-wrapper">
                                                <div class="col s1 my_team_image">
                                                  <img src="/images/avatar.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s11">
                                                  <div class="my_team_name">Manish Khanna	<span>Jan 11, 2016</span></div>
                                                  <span class="black-text">
                                                    This is a square image. Add the "circle" class to it to make it appear circular.
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                          </div> 
            					   </div>
                                <!-- Text Editor Start Here -->
                                
                               <div class="row"> 
                                 <div class="col s12 m12 my_team_list_one ">
                                            <div class="card-panel grey lighten-5 z-depth-1">
                                              <div class="row valign-wrapper">
                                                <div class="col s1 my_team_image">
                                                  <img src="/images/avatar.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s11">
                                                  <div class="my_team_name">Manish Khanna	<span>Jan 11, 2016</span></div>
                                                  <span class="black-text">
                                                    This is a square image. Add the "circle" class to it to make it appear circular.
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                
                                </div>
                                
                                
                                
                               <!-- Text Editor Start Here -->
                                    <div class="row">
                                            <div class="col s12 m12 my_team_list">
                                            <div class="card-panel grey lighten-5 z-depth-1">
                                              <div class="row valign-wrapper">
                                                <div class="col s1 my_team_image">
                                                  <img src="/images/avatar.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s11">
                                                  <div class="my_team_name">Manish Khanna	<span>Jan 11, 2016</span></div>
                                                  <span class="black-text">
                                                    This is a square image. Add the "circle" class to it to make it appear circular.
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                          </div> 
            					   </div>
                                <!-- Text Editor Start Here -->
                                
                               <div class="row"> 
                                 <div class="col s12 m12 my_team_list_one ">
                                            <div class="card-panel grey lighten-5 z-depth-1">
                                              <div class="row valign-wrapper">
                                                <div class="col s1 my_team_image">
                                                  <img src="/images/avatar.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s11">
                                                  <div class="my_team_name">Manish Khanna	<span>Jan 11, 2016</span></div>
                                                  <span class="black-text">
                                                    This is a square image. Add the "circle" class to it to make it appear circular.
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                
                                </div>
                                
                                
                                
                               
                                <div class="clear">&nbsp;</div>
                                
                               <!-- send text area Satrt Here-->
                                <div class="row">
                                	<div class="col s12 m12 my_team_send_box">
										 <form action="">
                                         	  <div class="my_team_attach"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
                                              <textarea class="form-control textarea-control" rows="3" placeholder="Textarea with emoji image input" data-emojiable="true"></textarea>
                                              <button type="submit" form="form1" value="Submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                         </form> 
                                    
									</div>
								</div>	
							   <!-- send text area Satrt Here-->	
									
									
                                    
                                    
                                    
                                    
                                   
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Roger Waters <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this card.</p>
                                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Project Manager</p>
                                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> mail@domain.com</p>
                                        <p><i class="mdi-social-cake cyan-text text-darken-2"></i> 18th June 1990</p>
                                        <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> BAR - AUS</p>
                                    </div>
                                </div>
                            </div>