{{!-- check assigned user list --}}
{{!-- {{getAssignUserToTask _id}} --}}

{{{signup _id}}}
<li class="usr_section_{{_id}}">
    <a href="#" class = "tooltipped" data-position = "top" data-delay = "50" data-tooltip = "User1">User1</a>
</li>  