<input type="text" size="20" autocomplete="off" id="task_name" name="task_name" class="x-form-text task_name_input x-form-field x-form-empty-field" style="height: 28px;">
<span class="hidden_error task_name"></span>