<!DOCTYPE html>
<html lang="en">
<head>
  {{> register/head}}
</head>

<body class="cyan">
    
  <!-- Start Page Loading -->
  {{> header}}
  <!-- End Page Loading -->
    {{{body}}}
{{> register/footer}}

</body>

</html>