<div id="login-page" class="row">
  	
      <div class="row">
          <div class="input-field col s12 center">
            <img src="/images/logo.png" alt="" class=" responsive-img valign">
          </div>
        </div>
  
  
  
    <div class="col s12 z-depth-4 card-panel">
      <form class="register_form">
        
        <div class="row margin">
          <div class="input-field my_team_input_field col s12">  
            <i class="mdi-social-person-outline prefix"></i>         
            <input id="firstname" type="text">
            <label for="username" class="center-align">FirstName</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field my_team_input_field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="lastname" type="text">
            <label for="username" class="center-align">LastName</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field my_team_input_field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        
        <div class="row margin">
          <div class="input-field my_team_input_field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="phonenumber" type="text">
            <label for="Phone Number" class="center-align">Phone Number</label>
          </div>
        </div>
        
        <div class="row margin">
          <div class="input-field my_team_input_field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="email" type="email">
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field my_team_input_field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field my_team_input_field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="password_confirm" type="password">
            <label for="password-again">Password again</label>
          </div>
        </div>
       <div class="row">
          <div class="input-field my_team_register col s12">
            {{!-- <a href="javascript:void(0)" class="btn my_team_signup_btn waves-effect waves-light col s12">Sign Up <img src="images/register_icon.png" alt="login"/></a> --}}
            <button class="btn my_team_signup_btn waves-effect waves-light col s12" type="submit">Sign Up <img src="images/register_icon.png" alt="login"/></button>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12">
          		<div class="my_team_devidor">
          		<hr>
                <span>OR</span>
                </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12">
            <div class="my_team_social">
            <p>Login with us</p>
            <a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-google"></a>
            </div>
          </div>
        </div>
        
         <div class="row">
          <div class="col s12">
          		<div class="my_team_devidor">
          		<hr>
                <span>OR</span>
                </div>
          </div>
        </div>
        
         <div class="row">
          <div class="my_team_register col s12">
          	<p>Go Back to Login Page</p>
            <a href="/login" class="btn my_team_login_btn waves-effect waves-light col s12">Login <img src="images/login_icon.png" alt="login"/></a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    
    $(".register_form").validate({
			rules: {
        username:"required",
				firstname: "required",
				lastname: "required",
          email: {
              required: true,
              email: true
          },
          password: {
              required: true,
              minlength: 5
          },
          password_confirm: {
              required: true,
              minlength: 5,
              equalTo: "#password"
          },
          phonenumber:{
            required: true,
            maxlength: 10
          }
			},
			messages: {
                username:"Please add a username",
				firstname: "Please enter your firstname",
				lastname: "Please enter your lastname",
        email:"Please enter a valid email",
        password:{
            required:"The password is required",
            minlength:"The min is 5 characters"
        },
        password_confirm:"Password is not the same :S",
        phonenumber:{
          required: "Phine number required",
          maxlength: "Only integers are allowed with 10 digits"
        }
			},
            submitHandler: function(form,event) {
                event.preventDefault();
                submitForm();
            }
		});

    function submitForm(){

      const userData = {
      username: $('#username').val(),
      firstname: $('#firstname').val(),
      lastname: $('#lastname').val(),
          email: $('#email').val(),
          password: $('#password').val(),
          phonenumber:$('#phonenumber').val() 
      };
      
      $.ajax({
        type: "POST",
        url: '/api/register',
        data: JSON.stringify(userData),
        contentType: 'application/json',
        success: (response) => {          
          window.location.href = '/dashboard'
        },
        error: (response) => {
          console.log(response)             
        }
      })
    }

</script>