<!DOCTYPE html>
<html lang="en">
<head>
    {{> dashboard/head}}
</head>

<body>

 
    <!-- Start Page Loading -->
    {{> header}}
    <!-- End Page Loading -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START HEADER -->
    {{> dashboard/header}}
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            
            <!-- START LEFT SIDEBAR NAV-->
            <div class="lft-datum">
                {{> dashboard/dashboard_left}}                    
            </div>
            
            <!-- END LEFT SIDEBAR NAV-->

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                  


                    <!--card widgets start-->
                    <div id="card-widgets">
                        <div class="row">

                             {{{body}}}

                        </div>

                    <!--card widgets end-->

                  

                 
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START RIGHT SIDEBAR NAV-->
            {{> outer_search}}
            <!-- LEFT RIGHT SIDEBAR NAV-->

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->



    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START FOOTER -->
    {{>  dashboard/footer}}
    <!-- END FOOTER -->


    {{> dashboard/dashboard_scripts}}
	
	
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>

{{!-- set the modal box content for specific work --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>
</body>

</html>

