<div class="modal-header">
        <h5 class="modal-title" id="attachmentModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="model-custom-cls" id="form_upload">         
          <div class="modal-footer">
            <input type="file" name="image" multiple />
            <input type="file" name="image2" multiple />
            <button type="button" class="btn btn-default close_modal" data-dismiss="modal">Close</button>
            <input type="submit" name="submit" value="Upload Media" class="btn btn-primary">
        </div>
        </form>
      </div>